.button {
  font-family: Montserrat;
  padding: 0.5rem 1.5rem;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  background: #D3D3D3;
  color: #292929;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}
