.room-page__title {
  width: 80%;
  max-width: 20rem;
  height: 100%;
  margin: 1rem auto;
  text-align: center;
  background: #292929;
  color: #d3d3d3;
  padding: 0;
}

.room-form {
  list-style-type: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  border-radius: 6px;
  background: #292929;
  color: #d3d3d3;
}

.dropdown {
  padding-bottom: 1.5rem;
}


.dropdown-actions {
  background-color: #d3d3d3;
  color: 292929;
  padding: 0.5rem;
  width: 30%;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.dropdown-actions select,
.dropdown-actions option {
  border-radius: 0.25rem;
  font-size: 1rem;
}

.dropdown-label {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
