@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: Arial;
}

p {
  font-family: Montserrat;
}

body {
  /* background: #cdf0ea; */

  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      to(#fff),
      from(#292929)
    )
    fixed;
}

.btn {
  font-family: Montserrat;
  padding: 0.5rem 1.5rem;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  background: #D3D3D3;
  color: #292929;
  cursor: pointer;
  margin: auto;
  text-decoration: none;
  display: inline-block;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
